<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <include resource="org/springframework/boot/logging/logback/base.xml"/>

  <logger name="org.apache.ibatis" level="TRACE"/>
  <logger name="com.library.library_app.infrastructure.mybatis" level="TRACE"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>